section.faq
  .container
    .faq__header
      h4.h4-title FAQ
      h2.h2-title.faq__title
        | Возможно,<br class='mobile-br'> у вас остались <br> вопросы. Отвечаем
    ul.accordion.faq-accordion
      li.accordion__tab
        button.h4-title.accordion__btn.faq-accordion__btn.active(data-accordion-btn='1')
          | Когда я смогу использовать готовый продукт?
        .accordion__content.active(data-accordion-content='1')
          p.text.text--small
            | Мы обеспечиваем полный цикл разработки
            | программного обеспечения,
            | развертывания и послерелизной поддержки.
            | Вы получите функциональный,
            | масштабируемый и безопасный продукт,
            | идеально подходящий для бизнеса.
          p.text.text--small MVP за 90 дней.

      li.accordion__tab
        button.h4-title.accordion__btn.faq-accordion__btn(data-accordion-btn='2')
          | У меня есть недоработанное прило&shy;жение.
          | Вы можете его доработать?
        .accordion__content(data-accordion-content='2')
          p.text.text--small
            | Мы присоединяемся к любому этапу разработки,
            | анализируем текущее
            | состояние продукта, возвращаем процесс
            | разработки в нужное русло
            | и выпускаем продукт вовремя.

      li.accordion__tab
        button.h4-title.accordion__btn.faq-accordion__btn(data-accordion-btn='3')
          | Сколько стоит разработка сайта?
        .accordion__content(data-accordion-content='3')
          p.text.text--small
            | Далеко-далеко за словесными горами
            | в стране гласных и согласных живут
            | рыбные тексты. Наш имеет сих грамматики
            | ручеек взгляд напоивший решила
            | заголовок, все повстречался использовало
            | парадигматическая, до переписали
            | образ о власти злых дороге, рукописи раз
            | пор родного!

      li.accordion__tab
        button.h4-title.accordion__btn.faq-accordion__btn(data-accordion-btn='4')
          | Вы даёте гарантию на мобильное приложение?
        .accordion__content(data-accordion-content='4')
          p.text.text--small
            | Далеко-далеко за словесными горами,
            | в стране гласных и согласных
            | живут рыбные тексты. Если несколько,
            | великий свою напоивший повстречался
            | собрал, страну грамматики рот реторический
            | маленький власти заманивший, строчка lorem
            | знаках имени свой семантика путь.
