section.add-services
  .container
    h2.h2-title.add-services__title Дополнительные <br> услуги
    ul.add-services__list
      li.add-services__item
        .add-services__icon-block
          svg(width='70', height='70')
            use(xlink:href='@img/sprite.svg#chat-bot')
        .add-services__name-block
          h4.h4-title Разработка чат-ботов
      li.add-services__item
        .add-services__icon-block
          svg(width='70', height='70')
            use(xlink:href='@img/sprite.svg#vr')
        .add-services__name-block
          h4.h4-title AR/VR
      li.add-services__item
        .add-services__icon-block
          svg(width='70', height='70')
            use(xlink:href='@img/sprite.svg#gamedev')
        .add-services__name-block
          h4.h4-title Разработка мобильных игр
      li.add-services__item
        .add-services__icon-block
          svg(width='70', height='70')
            use(xlink:href='@img/sprite.svg#tech-task')
        .add-services__name-block
          h4.h4-title Составление техническо&shy;го задания
      li.add-services__item
        .add-services__icon-block
          svg(width='70', height='70')
            use(xlink:href='@img/sprite.svg#server')
        .add-services__name-block
          h4.h4-title Серверная разработка
      li.add-services__item
        .add-services__icon-block
          svg(width='70', height='70')
            use(xlink:href='@img/sprite.svg#team')
        .add-services__name-block
          h4.h4-title Аутсорсинг
