section.cooperation
  .container
    .cooperation__header
      h4.h4-title.cooperation__label Сотрудничество
      h2.h2-title С учетом ваших <br> потребностей
    .cooperation__slider-wrap
      .cooperation__slider.swiper
        .cooperation__slides-wrap.swiper-wrapper
          .cooperation__item.swiper-slide
            img.cooperation__pic(src='@img/coop-cards/bg1.png', alt='Ночной город')
            .cooperation__item-content
              h6.h6-title.cooperation__caption
                | Быстрое масштабирование
              p.text.text--smaller
                | Мы управляем каждым проектом так, чтобы
                | помочь вам быстро масштабировать бизнес-решения
                | и соответствовать изменениям в потребностях
                | клиентов вне зависимости от региона, часового
                | пояса или требующейся функциональности.
          .cooperation__item.swiper-slide
            img.cooperation__pic(src='@img/coop-cards/bg2.png', alt='Пишется код')
            .cooperation__item-content
              h6.h6-title.cooperation__caption
                | Прозрачное взаимодействие
              p.text.text--smaller
                | Ваши результаты — основа нашего успеха.
                | Мы используем новейшие технологии, нструменты
                | и платформы для совместной работы, чтобы
                | гарантировать прозрачность взаимодействия
                | и возможность контролировать его из
                | любой точки мира.
          .cooperation__item.swiper-slide
            img.cooperation__pic(src='@img/coop-cards/bg3.png', alt='Указывают на ноутбук')
            .cooperation__item-content
              h6.h6-title.cooperation__caption
                | Смешанные команды
              p.text.text--smaller
                | Для создания цифрового опыта или продукта
                | требуются экспертный опыт и знания специалистов
                | по различным предметным областям. Мы создаем
                | многопрофильные команды для разработки
                | комплексных технологических решений, которые
                | помогут вам добиться необходимых результатов.
          .cooperation__item.swiper-slide
            img.cooperation__pic(src='@img/coop-cards/bg1.png', alt='Ночной город')
            .cooperation__item-content
              h6.h6-title.cooperation__caption
                | Быстрое масштабирование
              p.text.text--smaller
                | Мы управляем каждым проектом так, чтобы
                | помочь вам быстро масштабировать бизнес-решения
                | и соответствовать изменениям в потребностях
                | клиентов вне зависимости от региона, часового
                | пояса или требующейся функциональности.
          .cooperation__item.swiper-slide
            img.cooperation__pic(src='@img/coop-cards/bg2.png', alt='Пишется код')
            .cooperation__item-content
              h6.h6-title.cooperation__caption
                | Прозрачное взаимодействие
              p.text.text--smaller
                | Ваши результаты — основа нашего успеха.
                | Мы используем новейшие технологии, нструменты
                | и платформы для совместной работы, чтобы
                | гарантировать прозрачность взаимодействия
                | и возможность контролировать его из
                | любой точки мира.
          .cooperation__item.swiper-slide
            img.cooperation__pic(src='@img/coop-cards/bg3.png', alt='Указывают на ноутбук')
            .cooperation__item-content
              h6.h6-title.cooperation__caption
                | Смешанные команды
              p.text.text--smaller
                | Для создания цифрового опыта или продукта
                | требуются экспертный опыт и знания специалистов
                | по различным предметным областям. Мы создаем
                | многопрофильные команды для разработки
                | комплексных технологических решений, которые
                | помогут вам добиться необходимых результатов.
          .cooperation__item.swiper-slide
            img.cooperation__pic(src='@img/coop-cards/bg1.png', alt='Ночной город')
            .cooperation__item-content
              h6.h6-title.cooperation__caption
                | Быстрое масштабирование
              p.text.text--smaller
                | Мы управляем каждым проектом так, чтобы
                | помочь вам быстро масштабировать бизнес-решения
                | и соответствовать изменениям в потребностях
                | клиентов вне зависимости от региона, часового
                | пояса или требующейся функциональности.
          .cooperation__item.swiper-slide
            img.cooperation__pic(src='@img/coop-cards/bg2.png', alt='Пишется код')
            .cooperation__item-content
              h6.h6-title.cooperation__caption
                | Прозрачное взаимодействие
              p.text.text--smaller
                | Ваши результаты — основа нашего успеха.
                | Мы используем новейшие технологии, нструменты
                | и платформы для совместной работы, чтобы
                | гарантировать прозрачность взаимодействия
                | и возможность контролировать его из
                | любой точки мира.
          .cooperation__item.swiper-slide
            img.cooperation__pic(src='@img/coop-cards/bg3.png', alt='Указывают на ноутбук')
            .cooperation__item-content
              h6.h6-title.cooperation__caption
                | Смешанные команды
              p.text.text--smaller
                | Для создания цифрового опыта или продукта
                | требуются экспертный опыт и знания специалистов
                | по различным предметным областям. Мы создаем
                | многопрофильные команды для разработки
                | комплексных технологических решений, которые
                | помогут вам добиться необходимых результатов.
      .cooperation__bullets.swiper-pagination
      .cooperation__btn-prev.swiper-button-prev
      .cooperation__btn-next.swiper-button-next
