section.team
  .container
    .team__grid
      .team__header
        h2.h2-title.team__title Команда, ориентированная на людей
        p.text
          | В команде нашей компании работают высококвалифицированные IT-специалисты,
          | которые обладают не только качественными знаниями, но и бесценным опытом
          | в разработке инновационных продуктов. Самое главное - каждый из них
          | влюблен в то, что делает. Вы можете познакомиться с каждым участником нашей
          | команды чуть ближе.
      .team__item
        a.team__pic(href='#')
          img(src='@img/team/pic1.png', alt='Аватар Николая Шпакова')/
          svg.team__linkedin-tag(width='32', height='32')
            use(xlink:href='@img/sprite.svg#linkedin-tag')
        h6.h6-title.team__name Николай Шпаков
        p.text.text--smaller
          | Исполнительный директор
      .team__item
        a.team__pic(href='#')
          img(src='@img/team/pic2.png', alt='Аватар Олега Науменко')/
          svg.team__linkedin-tag(width='32', height='32')
            use(xlink:href='@img/sprite.svg#linkedin-tag')
        h6.h6-title.team__name Олег Науменко
        p.text.text--smaller
          | СТО
      .team__item
        a.team__pic(href='#')
          img(src='@img/team/pic3.png', alt='Аватар Дмитрия Ершова')/
          svg.team__linkedin-tag(width='32', height='32')
            use(xlink:href='@img/sprite.svg#linkedin-tag')
        h6.h6-title.team__name Дмитрий Ершов
        p.text.text--smaller
          | Руководитель группы IOS
      .team__item
        a.team__pic(href='#')
          img(src='@img/team/pic4.png', alt='Аватар Ярослава Фомина')/
          svg.team__linkedin-tag(width='32', height='32')
            use(xlink:href='@img/sprite.svg#linkedin-tag')
        h6.h6-title.team__name Ярослав Фомин
        p.text.text--smaller
          | Специалист по подбору талантов
      .team__item
        a.team__pic(href='#')
          img(src='@img/team/pic5.png', alt='Аватар Елены Горюновой')/
          svg.team__linkedin-tag(width='32', height='32')
            use(xlink:href='@img/sprite.svg#linkedin-tag')
        h6.h6-title.team__name Елена Горюнова
        p.text.text--smaller
          | Руководитель группы дизайнеров
      .team__item
        a.team__pic(href='#')
          img(src='@img/team/pic6.png', alt='Аватар Ивана Фомина')/
          svg.team__linkedin-tag(width='32', height='32')
            use(xlink:href='@img/sprite.svg#linkedin-tag')
        h6.h6-title.team__name Иван Фомин
        p.text.text--smaller
          | Руководитель группы контроля качества
      .team__item
        a.team__pic(href='#')
          img(src='@img/team/pic7.png', alt='Аватар Андрея Савичева')/
          svg.team__linkedin-tag(width='32', height='32')
            use(xlink:href='@img/sprite.svg#linkedin-tag')
        h6.h6-title.team__name Андрей Савичев
        p.text.text--smaller
          | Управляющий делами
      .team__item
        a.team__pic(href='#')
          img(src='@img/team/pic8.png', alt='Аватар Ольги Науменко')/
          svg.team__linkedin-tag(width='32', height='32')
            use(xlink:href='@img/sprite.svg#linkedin-tag')
        h6.h6-title.team__name Ольга Науменко
        p.text.text--smaller
          | Руководитель группы Android
    .team__btn-wrap
      +btn('Вся команда', 'no-bg,mobile-only')(href='#')
