.mainscreen.mainscreen-services
  .mainscreen__inner
    .mainscreen__content
      .container
        .mainscreen-services__header
          h4.h4-title.mainscreen-services__label Как мы выполняем
          h1.h1-title.h1-title--smaller.mainscreen-services__title
            | Наши проекты
          p.text.text--small.text--rubik-font
            | Мы осуществляем технологическую и
            | бизнес-трансформацию, используя методологию
            | Agile, проверенные на практике платформы для
            | организации совместной работы с заказчиком,
            | передовые инструменты для разработки,
            | многопрофильные команды специалистов с
            | различными навыками и распределенную глобальную
            | модель оказания услуг.
        +btn('Заказать проект', 'rounded-on-mobile')(href='order-project.html')
