extends ../base/pug/base.pug

append variables
  -
    var title = 'Карьера | Union Smart Technology'

block content
  include ../components/mainscreen-career/mainscreen-career.pug

  include ../components/vacancies/vacancies.pug

  include ../components/callback-work/callback-work.pug
