extends ../base/pug/base.pug

append variables
   -
    var title = 'Команда | Union Smart Technology'

block content
  include ../components/mainscreen-team/mainscreen-team.pug

  include ../components/team/team.pug

  include ../components/prefooter-team/prefooter-team.pug
