.mainscreen-career {
  background-color: $gray-100;
  background-image: url('../img/mainscreen-bgs/bg5.webp');
  background-image: url('../img/mainscreen-bgs/bg5.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  @include adaptive-value('margin-bottom', 180, 80);

  .btn {
    @media (max-width: $breakpoint480) {
      display: block;
    }
  }

  &__header {
    max-width: 45%;
    margin-bottom: rem(60);

    @media (max-width: $breakpoint1248) {
      max-width: 65%;
    }

    @media (max-width: $breakpoint1024) {
      max-width: 80%;
    }

    @media (max-width: $breakpoint640) {
      max-width: 100%;
    }

    .text {
      color: $gray-20;
    }
  }

  &__title {
    margin-bottom: rem(16);
    color: $gray-10;
  }
}
