.mainscreen.mainscreen-career
  .mainscreen__inner
    .mainscreen__content
      .container
        .mainscreen-career__header
          h1.h1-title.h1-title--smaller.mainscreen-career__title
            | Карьера
          p.text.text--small.text--rubik-font
            | Присоединяйтесь к команде победителей,
            | способных решать масштабные нешаблонные задачи,
            | достойные лучших умов отрасли.
        +btn('Заказать больше', 'rounded-on-mobile')(href='#')
