.mainscreen.mainscreen-team
  .mainscreen__inner
    .mainscreen__content
      .container
        .mainscreen-team__header
          h4.h4-title.mainscreen-team__label Будем знакомы
          h1.h1-title.h1-title--smaller.mainscreen-team__title
            | Команда UST
          p.text.text--small.text--rubik-font
            | Мы обеспечиваем развитие интеллектуального потенциала
            | компании, способствуем профессиональному росту наших
            | сотрудников. Работаем в России и странах Европы.
            | Мы создаем достойные условия труда и строго соблюдаем
            | законы, регулирующие отношения между компанией,
            | работниками и государством.
