.mainscreen-team {
  background-color: $gray-100;
  background-image: url('../img/mainscreen-bgs/bg2.webp');
  background-image: url('../img/mainscreen-bgs/bg2.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  @include adaptive-value('margin-bottom', 180, 80);

  &__header {
    max-width: 45%;
    color: $white;

    @media (max-width: $breakpoint1248) {
      max-width: 65%;
    }

    @media (max-width: $breakpoint1024) {
      max-width: 80%;
    }

    @media (max-width: $breakpoint640) {
      max-width: 100%;
    }

    * {
      color: inherit;
    }
  }

  &__label {
    @include adaptive-value('margin-bottom', 10, 4);
  }

  &__title {
    margin-bottom: rem(16);
  }
}
