.footer {
  padding: rem(64) 0 rem(24) 0;
  color: $gray-20;
  line-height: 0;
  background-color: $color-blue-100;

  @media (max-width: $breakpoint768) {
    padding: rem(50) 0 rem(24) 0;
  }

  @media (max-width: $breakpoint480) {
    padding: rem(40) 0 rem(20) 0;
  }

  &__row,
  &__contacts-block,
  &__links-block {
    display: flex;
    justify-content: space-between;
  }

  &__row {
    gap: rem(15);

    @media (max-width: $breakpoint1024) {
      flex-wrap: wrap;
      gap: rem(40);
    }
  }

  &__contacts-block,
  &__links-block {
    flex: 0 1 50%;

    @media (max-width: $breakpoint1024) {
      flex: 1 1 100%;
      text-align: center;
    }
  }

  &__contacts-block {
    gap: rem(20);

    @media (max-width: $breakpoint400) {
      flex-wrap: wrap;
      gap: rem(8);
    }
  }

  &__contacts {
    flex: 0 1 50%;

    @media (max-width: $breakpoint400) {
      flex-basis: 45%;
      text-align: left;
    }
  }

  &__team-name,
  &__meta {
    margin-bottom: rem(16);
  }

  &__meta {
    @media (max-width: $breakpoint480) {
      margin-bottom: rem(8);
    }

    * {
      display: block;
      color: inherit;
      text-decoration: none;
      transition: color 0.3s ease;
      pointer-events: all !important;

      @include hover {
        color: $color-pink-80;
      }
    }
  }

  &__email {
    color: inherit;
    text-decoration: none;

    @media (max-width: $breakpoint480) {
      margin-bottom: rem(8);
    }
  }

  &__links-block {
    gap: rem(25);

    @media (max-width: $breakpoint480) {
      flex-wrap: wrap;
    }
  }

  &__links {
    flex: 0 1 33.333%;
    padding: 0;
    list-style: none;

    @media (max-width: $breakpoint480) {
      flex-basis: 45%;

      &--socials {
        display: flex;
        flex: 1 1 100%;
        flex-wrap: wrap;
        gap: rem(25);
        justify-content: space-between;
        margin-top: rem(15);
      }
    }

    @media (max-width: $breakpoint400) {
      flex: 1 1 100%;
    }
  }

  &__link {
    display: block;
    margin-bottom: rem(16);

    a {
      font-size: rem(16) !important;
    }

    @include hover {
      color: $color-pink-80;
    }

    @media (max-width: $breakpoint480) {
      font-weight: 400;

      .icon-on-mobile {
        display: none;
      }
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__social {
    display: none;

    @media (max-width: $breakpoint480) {
      display: inline-block;
    }
  }

  &__bottom {
    display: flex;
    gap: rem(24);
    align-items: center;
    justify-content: space-between;
    @include adaptive-value('padding-top', 70, 30);

    @media (max-width: $breakpoint480) {
      flex-direction: column-reverse;
      justify-content: start;
    }
  }

  &__bottom-links {
    display: flex;
    align-items: center;
    color: $gray-20;

    .btn--link {
      display: flex;
      align-items: center;
      color: $gray-20;

      @media (max-width: $breakpoint560) {
        display: inline-block;

        &::after {
          display: none;
        }
      }

      @media (max-width: $breakpoint480) {
        color: $color-pink-80;
        font-weight: 400;
        border-bottom: 1px solid $color-pink-80;
      }

      &::after {
        display: inline-block;
        width: 1px;
        height: 1em;
        margin: 0 rem(16);
        background-color: $gray-60;
        content: '';
      }

      &:last-child {
        &::after {
          display: none;
        }
      }
    }

    .del-on-mobile {
      @media (max-width: $breakpoint560) {
        display: none;
      }
    }
  }
}
