section.services-section
  .container
    .services-section__header
      h4.h4-title.services-section__label Полный спектр
      h2.h2-title Наших услуг
    ul.services-section__list
      li.services-section__item
        img.services-section__icon(src='@img/suggestion-icons/analysis-icon.svg', alt='Иконка')
        h6.h6-title.services-section__service-name Анализируем
      li.services-section__item
        img.services-section__icon(src='@img/suggestion-icons/prototyping-icon.svg', alt='Иконка')
        h6.h6-title.services-section__service-name Прототипируем
      li.services-section__item
        img.services-section__icon(src='@img/suggestion-icons/designing-icon.svg', alt='Иконка')
        h6.h6-title.services-section__service-name Дизайним
      li.services-section__item
        img.services-section__icon(src='@img/suggestion-icons/programming-icon.svg', alt='Иконка')
        h6.h6-title.services-section__service-name Программируем
      li.services-section__item
        img.services-section__icon(src='@img/suggestion-icons/testing-icon.svg', alt='Иконка')
        h6.h6-title.services-section__service-name Тестируем
      li.services-section__item
        img.services-section__icon(src='@img/suggestion-icons/supporting-icon.svg', alt='Иконка')
        h6.h6-title.services-section__service-name Поддерживаем
