.prefooter-team
  .container
    .prefooter-team__header
      h4.h4-title.prefooter-team__label Открытые позиции
      h2.h2-title Присоединяйтесь к нам
    +btn('Узнать больше', 'rounded-on-mobile')(href='#')
