.mainscreen-index {
  background-color: $gray-100;
  background-image: url('../img/mainscreen-bgs/bg1.webp');
  background-image: url('../img/mainscreen-bgs/bg1.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  @include adaptive-value('margin-bottom', 180, 80);

  @media (max-width: $breakpoint480) {
    margin-bottom: 0;
  }

  .btn {
    @media (max-width: $breakpoint400) {
      display: block;
      width: 100%;
    }
  }

  &__header {
    @include adaptive-value('margin-bottom', 60, 40);

    .text {
      color: $gray-20;

      @media (max-width: $breakpoint400) {
        br {
          display: none;
        }
      }
    }
  }

  &__stats-container {
    @media (max-width: $breakpoint480) {
      padding: 0;
    }
  }
}

.mainscreen-index-stats {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: center;
  padding: 0 0 rem(50) 0;
  color: $gray-10;
  text-align: center;
  list-style: none;
  row-gap: rem(40);
  @include adaptive-value('column-gap', 40, 10);

  @media (max-width: $breakpoint768) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (max-width: $breakpoint480) {
    padding: rem(40) rem(20);
    background-color: $color-blue-100;
  }

  * {
    color: inherit;
  }

  &__item {
    flex: 0 1 25%;
  }

  &__num {
    margin-bottom: rem(5);
  }
}
