.mainscreen.mainscreen--fullscreen.mainscreen-index
  .mainscreen__inner
    .mainscreen__content
      .container
        .mainscreen-index__header
          h1.h1-title--primary.h1-title.mainscreen__title.mainscreen__title--large
            | Студия разработки <br>
            | программного обеспечения <br>
            | <span>с продуктовым мышлением</span>
          p.text
            | Мы создаем кроссплатформенные мобильные <br>
            | приложения и веб-платформы и находим для них
            | <br>лучшие решения.
        .mainscreen-index__btn-wrap
          +btn('Заказать проект', 'rounded-on-mobile')(href='#')
    .container.mainscreen-index__stats-container
      ul.mainscreen-index__stats.mainscreen-index-stats
        li.mainscreen-index-stats__item
          h3.h1-title.mainscreen-index-stats__num 4+
          h4.h4-title Года опыта
        li.mainscreen-index-stats__item
          h3.h1-title.mainscreen-index-stats__num 30+
          h4.h4-title Завершённых проектов
        li.mainscreen-index-stats__item
          h3.h1-title.mainscreen-index-stats__num 30+
          h4.h4-title Довольных клиентов
        li.mainscreen-index-stats__item
          h3.h1-title.mainscreen-index-stats__num 5К+
          h4.h4-title Выпитых чашек кофе
