.prefooter-portfolio
  .container
    .prefooter-portfolio__inner
      .prefooter-portfolio__header
        h4.h4-title.prefooter-portfolio__label Есть идея?
        h2.h2-title.prefooter-portfolio__title Свяжитесь с нами
        p.text
          | У вас есть уже существующий проект, который вы хотите
          | усовершенствовать? Вы хотите воплотить в жизнь смелую
          | идею, но вам нужна помощь? Или вы вообще не знаете,
          | с чего начать реализацию проекта?
      +btn('Связаться', 'rounded-on-mobile')(href='#')
