section.what-we-do
  .container
    ol.what-we-do__list
      li.what-we-do__item
        .what-we-do__item-inner
          h3.h3-title.h3-title--bigger.what-we-do__item-caption
            | Анализируем
          p.text.what-we-do__item-descr
            | Пишем ТЗ для разработки, учитывая бизнес-процессы и
            | технологии заказчика и потребности пользователей.
          p.text.what-we-do__item-tip
            | Мы анализировали, когда делали проект для:
          ul.what-we-do__client-logos
            img.what-we-do__client-logo(src='@img/clients-logo/vroom.png', alt='VRoom Games Logo')
          .what-we-do__item-footer
            p.text.text--label
              | Можем пройти весь путь<br>или
              | выполнить только этот<br>этап.
            +btn('', 'link,transparent-on-mobile')(href='#', class='what-we-do__start-btn')
              span.view-on-pc
                | Начать работу
                svg(width='41', height='16', viewBox='0 0 41 16', fill='none', xmlns='http://www.w3.org/2000/svg')
                  path(d='M40.7071 8.70711C41.0976 8.31658 41.0976 7.68342 40.7071 7.29289L34.3431 0.928932C33.9526 0.538408 33.3195 0.538408 32.9289 0.928932C32.5384 1.31946 32.5384 1.95262 32.9289 2.34315L38.5858 8L32.9289 13.6569C32.5384 14.0474 32.5384 14.6805 32.9289 15.0711C33.3195 15.4616 33.9526 15.4616 34.3431 15.0711L40.7071 8.70711ZM0 9H40V7H0V9Z', fill='currentColor')
              span.view-on-mobile Заказать проект

      li.what-we-do__item
        .what-we-do__item-inner
          h3.h3-title.h3-title--bigger.what-we-do__item-caption
            | Прототипируем
          p.text.what-we-do__item-descr
            | Прорабатываем пользовательские сценарии, проектируем логику
            | приложения, скечируем основные экраны.
          p.text.what-we-do__item-tip
            | Мы прототипировали, когда делали проект для:
          ul.what-we-do__client-logos
            img.what-we-do__client-logo(src='@img/clients-logo/danone.png', alt='Danone Logo')
            img.what-we-do__client-logo(src='@img/clients-logo/vroom.png', alt='VRoom Games Logo')
          .what-we-do__item-footer
            p.text.text--label
              | Можем пройти весь путь<br>или
              | выполнить только этот<br>этап.
            +btn('', 'link,transparent-on-mobile')(href='#', class='what-we-do__start-btn')
              span.view-on-pc
                | Начать работу
                svg(width='41', height='16', viewBox='0 0 41 16', fill='none', xmlns='http://www.w3.org/2000/svg')
                  path(d='M40.7071 8.70711C41.0976 8.31658 41.0976 7.68342 40.7071 7.29289L34.3431 0.928932C33.9526 0.538408 33.3195 0.538408 32.9289 0.928932C32.5384 1.31946 32.5384 1.95262 32.9289 2.34315L38.5858 8L32.9289 13.6569C32.5384 14.0474 32.5384 14.6805 32.9289 15.0711C33.3195 15.4616 33.9526 15.4616 34.3431 15.0711L40.7071 8.70711ZM0 9H40V7H0V9Z', fill='currentColor')
              span.view-on-mobile Заказать проект

      li.what-we-do__item
        .what-we-do__item-inner
          h3.h3-title.h3-title--bigger.what-we-do__item-caption
            | Дизайним
          p.text.what-we-do__item-descr
            | Адаптируем фирменный стиль заказчика к гайдлайнам платформ.
            | Рисуем удобные и понятные интерфейсы.
          p.text.what-we-do__item-tip
            | Мы создавали дизайн, когда делали проект для:
          ul.what-we-do__client-logos
            img.what-we-do__client-logo(src='@img/clients-logo/danone.png', alt='Danone Logo')
            img.what-we-do__client-logo(src='@img/clients-logo/code-space.png', alt='Code Space Logo')
            img.what-we-do__client-logo(src='@img/clients-logo/actual.png', alt='Actual Logo')
          .what-we-do__item-footer
            p.text.text--label
              | Можем пройти весь путь<br>или
              | выполнить только этот<br>этап.
            +btn('', 'link,transparent-on-mobile')(href='#', class='what-we-do__start-btn')
              span.view-on-pc
                | Начать работу
                svg(width='41', height='16', viewBox='0 0 41 16', fill='none', xmlns='http://www.w3.org/2000/svg')
                  path(d='M40.7071 8.70711C41.0976 8.31658 41.0976 7.68342 40.7071 7.29289L34.3431 0.928932C33.9526 0.538408 33.3195 0.538408 32.9289 0.928932C32.5384 1.31946 32.5384 1.95262 32.9289 2.34315L38.5858 8L32.9289 13.6569C32.5384 14.0474 32.5384 14.6805 32.9289 15.0711C33.3195 15.4616 33.9526 15.4616 34.3431 15.0711L40.7071 8.70711ZM0 9H40V7H0V9Z', fill='currentColor')
              span.view-on-mobile Заказать проект

      li.what-we-do__item
        .what-we-do__item-inner
          h3.h3-title.h3-title--bigger.what-we-do__item-caption
            | Программируем
          p.text.what-we-do__item-descr
            | Создаём расширяемую архитектуру, пишем чистый и стабильный
            | код. Интегрируемся с технологиями заказчика.
          p.text.what-we-do__item-tip
            | Мы прогаммировали, когда делали проект для:
          ul.what-we-do__client-logos
            img.what-we-do__client-logo(src='@img/clients-logo/danone.png', alt='Danone Logo')
            img.what-we-do__client-logo(src='@img/clients-logo/code-space.png', alt='Code Space Logo')
            img.what-we-do__client-logo(src='@img/clients-logo/vroom.png', alt='VRoom Games Logo')
            img.what-we-do__client-logo(src='@img/clients-logo/actual.png', alt='Actual Logo')
          .what-we-do__item-footer
            p.text.text--label
              | Можем пройти весь путь<br>или
              | выполнить только этот<br>этап.
            +btn('', 'link,transparent-on-mobile')(href='#', class='what-we-do__start-btn')
              span.view-on-pc
                | Начать работу
                svg(width='41', height='16', viewBox='0 0 41 16', fill='none', xmlns='http://www.w3.org/2000/svg')
                  path(d='M40.7071 8.70711C41.0976 8.31658 41.0976 7.68342 40.7071 7.29289L34.3431 0.928932C33.9526 0.538408 33.3195 0.538408 32.9289 0.928932C32.5384 1.31946 32.5384 1.95262 32.9289 2.34315L38.5858 8L32.9289 13.6569C32.5384 14.0474 32.5384 14.6805 32.9289 15.0711C33.3195 15.4616 33.9526 15.4616 34.3431 15.0711L40.7071 8.70711ZM0 9H40V7H0V9Z', fill='currentColor')
              span.view-on-mobile Заказать проект

      li.what-we-do__item
        .what-we-do__item-inner
          h3.h3-title.h3-title--bigger.what-we-do__item-caption
            | Тестируем
          p.text.what-we-do__item-descr
            | Проводим ручное функциональное тестирование и пишем
            | UI-автотесты. Готовим чек-листы и тест-кейсы.
          p.text.what-we-do__item-tip
            | Мы тестировали, когда делали проект для:
          ul.what-we-do__client-logos
            img.what-we-do__client-logo(src='@img/clients-logo/code-space.png', alt='Code Space Logo')
            img.what-we-do__client-logo(src='@img/clients-logo/vroom.png', alt='VRoom Games Logo')
          .what-we-do__item-footer
            p.text.text--label
              | Можем пройти весь путь<br>или
              | выполнить только этот<br>этап.
            +btn('', 'link,transparent-on-mobile')(href='#', class='what-we-do__start-btn')
              span.view-on-pc
                | Начать работу
                svg(width='41', height='16', viewBox='0 0 41 16', fill='none', xmlns='http://www.w3.org/2000/svg')
                  path(d='M40.7071 8.70711C41.0976 8.31658 41.0976 7.68342 40.7071 7.29289L34.3431 0.928932C33.9526 0.538408 33.3195 0.538408 32.9289 0.928932C32.5384 1.31946 32.5384 1.95262 32.9289 2.34315L38.5858 8L32.9289 13.6569C32.5384 14.0474 32.5384 14.6805 32.9289 15.0711C33.3195 15.4616 33.9526 15.4616 34.3431 15.0711L40.7071 8.70711ZM0 9H40V7H0V9Z', fill='currentColor')
              span.view-on-mobile Заказать проект

      li.what-we-do__item
        .what-we-do__item-inner
          h3.h3-title.h3-title--bigger.what-we-do__item-caption
            | Поддерживаем
          p.text.what-we-do__item-descr
            | Работаем по SLA. Следим за стабильностью работы
            | приложения, обновляем под новые устройства и версии
            | iOS и Android.
          p.text.what-we-do__item-tip
            | Мы предоставляем поддержку:
          ul.what-we-do__client-logos
            img.what-we-do__client-logo(src='@img/clients-logo/danone.png', alt='Danone Logo')
          .what-we-do__item-footer
            p.text.text--label
              | Можем пройти весь путь <br>или
              | выполнить только этот <br>этап.
            +btn('', 'link,transparent-on-mobile')(href='#', class='what-we-do__start-btn')
              span.view-on-pc
                | Начать работу
                svg(width='41', height='16', viewBox='0 0 41 16', fill='none', xmlns='http://www.w3.org/2000/svg')
                  path(d='M40.7071 8.70711C41.0976 8.31658 41.0976 7.68342 40.7071 7.29289L34.3431 0.928932C33.9526 0.538408 33.3195 0.538408 32.9289 0.928932C32.5384 1.31946 32.5384 1.95262 32.9289 2.34315L38.5858 8L32.9289 13.6569C32.5384 14.0474 32.5384 14.6805 32.9289 15.0711C33.3195 15.4616 33.9526 15.4616 34.3431 15.0711L40.7071 8.70711ZM0 9H40V7H0V9Z', fill='currentColor')
              span.view-on-mobile Заказать проект
