.accordion {
  padding: 0;
  list-style: none;

  &__tab {
    border-bottom: 2px solid $gray-20;
  }

  &__btn {
    display: flex;
    gap: rem(10);
    align-items: center;
    width: 100%;
    padding: rem(20) 0 rem(25) 0;
    overflow: hidden;
    color: $gray-100;
    text-align: left;
    background: none;
    border: 0;
    cursor: pointer;
    user-select: none;

    &::after {
      display: inline-block;
      margin-left: auto;
      transition: all 0.2s ease;
      content: '';
    }
  }

  &__content {
    display: none;
    padding: rem(-15) 10% rem(25) 10%;
    overflow: hidden;
    transition: padding 0.4s ease;

    &.active {
      display: block;
      padding: rem(5) 10% rem(25) 10%;
    }

    @media (max-width: $breakpoint480) {
      padding: rem(-15) 0 rem(25) 0;

      &.active {
        padding: rem(5) 0 rem(25) 0;
      }
    }
  }
}
