section.full-portfolio
  .container
    .full-portfolio__grid
      .full-portfolio__item
        a.full-portfolio__img(href='#')
          img(src='@img/portfolio/pic1.png', alt='Прораб-Х')/
        a.h5-title.full-portfolio__name(href='#')
          | Прораб-Х
        p.text Мобильное приложение для строителей
      .full-portfolio__item
        a.full-portfolio__img(href='#')
          img(src='@img/portfolio/pic2.png', alt='Голосовой помощник')/
        a.h5-title.full-portfolio__name(href='#')
          | Голосовой помощник
        p.text Сервис для работы со списками задач
      .full-portfolio__item
        a.full-portfolio__img(href='#')
          img(src='@img/portfolio/pic3.png', alt='ATOL-бонус')/
        a.h5-title.full-portfolio__name(href='#')
          | ATOL-бонус
        p.text Мобильное приложение для профессионалов
      .full-portfolio__item
        a.full-portfolio__img(href='#')
          img(src='@img/portfolio/pic4.png', alt='Vroomgames')/
        a.h5-title.full-portfolio__name(href='#')
          | Vroomgames
        p.text Сервис для работы со списками заказов
      .full-portfolio__item
        a.full-portfolio__img(href='#')
          img(src='@img/portfolio/pic5.png', alt='Сервис для работы с клиентами')/
        a.h5-title.full-portfolio__name(href='#')
          | Сервис для работы с клиентами
        p.text Сервис для работы с клиентами и партнерами
      .full-portfolio__item
        a.full-portfolio__img(href='#')
          img(src='@img/portfolio/pic6.png', alt='Cinzano')/
        a.h5-title.full-portfolio__name(href='#')
          | Промо-система Cinzano
        p.text Сервис для работы со списками заказов
      .full-portfolio__item
        a.full-portfolio__img(href='#')
          img(src='@img/portfolio/pic7.png', alt='Актуаль')/
        a.h5-title.full-portfolio__name(href='#')
          | Актуаль
        p.text Сайт промо-игры
