.mainscreen.mainscreen-portfolio
  .mainscreen__inner
    .mainscreen__content
      .container
        .mainscreen-portfolio__header
          h1.h1-title.h1-title--smaller.mainscreen-portfolio__title
            | Портфолио
          p.text.text--small.text--rubik-font
            | Мы можем разработать для вас любое
            | индивидуальное решение. Наша компания
            | обладает широкими возможностями для
            | успешного создания технически-сложных
            | систем.
        +btn('Заказать проект', 'rounded-on-mobile')(href='#')
